*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contant{
    background-color: red;
}

.img img{
    position: ;
    width: 100%;
}